body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e1c4ff;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

#code {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    overflow-x: auto;
}

pre code {
    display: block;
    padding: 10px;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #e1c4ff;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin: 0.5em 0;
    font-size: 1.1em;
}

.skills-list i {
    margin-right: 0.5em;
    color: #4CAF50;
}
